.btn-container {
    display: flex;
    justify-content: space-around;
}

.remove-btn {
    font-size: 16px;
    font-family: monospace;
    border: none;
    color: white;
    text-align: center;
    cursor: pointer;
    max-width: 100px;
    background-color: #e74c3c;
}

.delete-btn, .cancel-btn {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.delete-btn {
    background-color: #e74c3c;
}

.cancel-btn {
    background-color: #777;
}