header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background-color: coral;
}

nav {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.link {
    text-decoration: none;
    color: white;
    transition: 1s;
}

.link:hover {
    color: #F0E68C;
}