table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.actions {
    display: flex;
    justify-content: space-around;
}

.actions svg {
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
}